@font-face {
  font-family: "Nurom-Bold";
  src: url("./assets/Nathan/Font/fonts/Nurom-Bold.eot"); /* IE9 Compat Modes */
  src: url("./assets/Nathan/Font/fonts/Nurom-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/Nathan/Font/fonts/Nurom-Bold.otf") format("opentype"), /* Open Type Font */
    url("./assets/Nathan/Font/fonts/Nurom-Bold.svg") format("svg"), /* Legacy iOS */
    url("./assets/Nathan/Font/fonts/Nurom-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/Nathan/Font/fonts/Nurom-Bold.woff") format("woff"), /* Modern Browsers */
    url("./assets/Nathan/Font/fonts/Nurom-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  background: fixed linear-gradient(rgb(83, 57, 33),rgb(255, 217, 181));
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 217, 181);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 57, 33);
  outline: 1px solid rgb(255, 217, 181);
}

.Navbar {
  background-color: rgb(83, 57, 33);
  color: rgb(255, 217, 181);
}

.CategoryNavbar {
  color:rgb(83, 57, 33);
  background-color: #ffd9b5;
}

.Category-Link {
  color:#533921;
  text-decoration: none;
}

.Header-Link {
  color: white;
  text-decoration: none;
}

.Contact {
  color:white;
  text-align: center;
}

.ContactContainer {
  color: white;
  text-align: center;
}

.carousel {
  color: white;
  text-shadow: 1px 1px rgb(83, 57, 33);
  padding: 1em;
  font-size: 20pt;
}

.Header {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.Main {
  transform: translateY(8em);
}

.Fortune {
  position: fixed;
  width: 100vw;
  text-align: center;
  transform: translateY(5em);
}

.ContactSubContainer {
  position: fixed;
  width: 100vw;
}

.ContactCard {
  position: fixed;
  width: 100vw;
}

.universal-header {
  font-family: "Nurom-Bold"
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.subtext3 {
  text-align: center;
  margin: 1em;
  max-height: 10em;
  overflow-y: scroll;
}

.subtext3::-webkit-scrollbar {
  width: 1em;
}

.subtext3::-webkit-scrollbar-track {
  background: rgb(255, 217, 181);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.subtext3::-webkit-scrollbar-thumb {
  background-color: rgb(83, 57, 33);
  outline: 1px solid rgb(255, 217, 181);
}

