body {
  background: fixed linear-gradient(rgb(255, 233, 106), rgb(58, 0, 0));
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 233, 106);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(58, 0, 0);
  outline: 1px solidrgb(255, 233, 106);
}

.Navbar {
  background-color: rgb(58, 0, 0);
  color: rgb(255, 233, 106);
}

.CategoryNavbar {
  color:rgb(58, 0, 0);
  background-color: rgb(255, 233, 106);
}

.Category-Link {
  color:rgb(58, 0, 0);
  text-decoration: none;
}

.Header-Link {
  color: rgb(255, 233, 106);
  text-decoration: none;
}

.Contact {
  color:rgb(255, 233, 106);
  text-align: center;
}

.ContactContainer {
  color: rgb(255, 233, 106);
  text-align: center;
}

.carousel {
  color: white;
  text-shadow: 1px 1px rgb(58, 0, 0);
  padding: 1em;
  font-size: 20pt;
}

.Header {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.Main {
  transform: translateY(8em);
}

.Fortune {
  position: fixed;
  width: 100vw;
  text-align: center;
  transform: translateY(5em);
}

.ContactSubContainer {
  position: fixed;
  width: 100vw;
}

.ContactCard {
  position: fixed;
  width: 100vw;
}